*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.g_font {
  font-size:14px;
  line-height: 20px;
}

.trans:hover{
  transform: translateY(-1px);
  cursor: pointer;
}

.btn{
  border:1px solid rgb(170, 170, 170);
  padding: 10px 20px;
  border-radius: 20px;
  margin:10px;  
  font-weight: 800;
}
.btn:hover{
  transform: translateY(-2px);
  box-shadow:0px 2px 5px 2px #f0f0f0;
}
.btn-primary{
  background-color: rgb(18, 139, 252);
  color: rgb(255, 255, 255);
}
.btn-secondary{
  background-color: white;
  color: rgb(18, 139, 252);
}

.empty-line{
  margin:0px;
}
@media (max-width: 600px){
  .g_margin {
    margin: 0px 5.55%;
  }
  .mainblk{
    padding:48px 20px;
  }
}

@media (min-width: 600px){
  .g_margin {
    margin: 0px 11.11%;
  }
}
